@media screen and (max-width:1700px){
    .header-wrapper{
        grid-template-columns: 9% auto 20%;
        text-align: center;
    }
    .main-wrapper {
        .category-cards{
            margin-bottom: 80px;
        .category-card{
            p{
                font-size: 30px;
                margin: 25px 6% 30px 1%;
                width: 40%;
                text-align: right;
            }
            a{
                margin:0px 6% 30px 0px;
            }
        }
    }
    .how-to-start{
        &__cards{
            margin:55px 0px 90px 0px;
        .how-to-start__item{
            img{
                margin:30px auto 20px auto;
                width:40%;
            }
            h2{
                font-size: 24px;
            }
            p{
                margin-top: 10px;
                font-size: 15px;
        }
    }
    }
    }
    .about-production{
        width: 80%;
    }
}
}
@media screen and (max-width:1300px){
    .header-wrapper{
        grid-template-columns: 9% auto 30%;
    }
    .main-wrapper {
    .how-to-start{
        &__cards{
            margin:40px 0px 50px 0px;
        .how-to-start__item{
            img{
                margin:10px auto 10px auto;
                width:50%;
            }
            h2{
                font-size: 20px;
            }
            p{
                margin-top: 10px;
                font-size: 15px;
                margin-top: 10px;
                padding: 0px 5px 10px 5px;
            }
        }
        }
    }
    }
}
@media screen and  (max-width:1000px){
    .header-wrapper{
        padding-left:5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        gap: 15px;
        .logo{
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .nav-bar{
            grid-row: 2/3;
            grid-column: 1/3;
            justify-self: space-between;
            text-align: left;
        }
        .search-box{
            grid-row: 1/2;
            grid-column: 2/3;
            justify-self: space-between;
        }
    }
    .main-wrapper {
        padding: 200px 5% 0 5%;
        .category-cards{
            margin-top: 40px;
            margin-bottom: 40px;
        .category-card{
            p{
                font-size: 23px;
            }
        }
    }
}
}
@media screen and  (max-width:900px){
    .main-wrapper {
        .how-to-start__cards{
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr;
            .how-to-start__item{
                img{
                    margin:30px auto 30px auto;
                    width:30%;
                }
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                }
            }
        }
        .why-us{
            width: 100%;
            margin-bottom: 100px;
            &__wrapper{
                gap:5px;
                grid-template-columns: 20% 15% 20% 20% 25%;
                .why-us__card{
                p{
                    margin-top: 30px;
                    font-size: 15px;
                }
            }
            }
        }
        .reviews{
            margin-bottom: 40px;
            .arrows{
                font-size: 30px;
                top:90%;
                left:40%;
            }
            .wrapper{
                grid-template-columns: 100%;
                grid-template-rows: 1fr 2fr;
                gap: 10px;
                .reviews__title{
                    grid-row: 1/2;
                    img{
                        margin: auto;
                    }
                    h1{
                        text-align: center;
                    }
                }
                .reviews__slider{
                    grid-row: 2/3;
                    
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .main-wrapper{
        padding-top: 110px;
        .last-articles{
        .article-wrapper{
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .category-cards{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
    .how-to-start__cards{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .how-to-start__item{
            img{
                margin:40px auto 40px auto;
                width:30%;
            }
            h2{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                padding-bottom: 50px;
            }
        }
    }
    .why-us__wrapper{
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr 1fr;
    }
    }
    .header-wrapper{
        grid-template-rows: 1fr auto;
        .logo{
            img{
                width: 100px;
            }
        }
        .search-box{
            div{
                width: 15%;
                p{
                    font-size: 15px;
                    text-align: center;
                }
                img{
                    width: 40px;
                }
            }
            .burger{
                display: block;
                font-size: 40px;
            }
        }
        .nav-bar{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            display: none;
            a{
                font-size: 20px;
                padding: 20px;
            }
        }
    }
}