@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@-webkit-keyframes leftright {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes leftright {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes bigger {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bigger {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

body {
  background-color: #f5f7fa;
}

.header-wrapper {
  width: 100%;
  padding: 25px;
  padding-left: 13.541666%;
  padding-right: 13.541666%;
  background-color: #ebeef4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5.2% auto 15.466668%;
      grid-template-columns: 5.2% auto 15.466668%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header-wrapper .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-wrapper .nav-bar a {
  color: #425a85;
  font-family: MuseoSansCyrl700;
  font-size: 17px;
  text-decoration: none;
  padding: 0px 15px;
}

.header-wrapper .nav-bar a:hover {
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header-wrapper .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-wrapper .search-box div {
  width: 30%;
  margin: 0 1.6%;
}

.header-wrapper .search-box div img {
  margin: 0px auto;
}

.header-wrapper .search-box div p {
  padding-top: 7px;
  color: #425a85;
  font-family: MuseoSansCyrl700;
  font-size: 15px;
  text-align: center;
}

.main-wrapper {
  width: 100%;
  padding: 0px 13.541666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-wrapper .category-cards {
  margin-top: 75px;
  margin-bottom: 125px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-wrapper .category-cards__1 {
  background-color: #ededed;
  border-radius: 15px;
  background-image: url("../img/category-card_1.png");
}

.main-wrapper .category-cards__2 {
  background-color: #f6f6f6;
  border-radius: 15px;
  background-image: url("../img/category-card_2.png");
}

.main-wrapper .category-cards .category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: left;
  background-repeat: no-repeat;
}

.main-wrapper .category-cards .category-card p {
  width: 30%;
  margin: 65px 10% 80px;
  color: #425a85;
  font-family: MuseoSansCyrl700;
  font-size: 37px;
}

.main-wrapper .category-cards .category-card a {
  text-decoration: none;
  color: white;
  font-family: MuseoSansCyrl500;
  font-size: 20px;
  height: 50px;
  width: 155px;
  border-radius: 30px;
  background-color: #7d9bd1;
  text-align: center;
  line-height: 50px;
  margin: 0px 60px 40px 0px;
}

.main-wrapper .category-cards .category-card a:hover {
  -webkit-animation-name: leftright;
          animation-name: leftright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-wrapper .how-to-start {
  width: 100%;
}

.main-wrapper .how-to-start h1 {
  color: #425a85;
  font-size: 43px;
  font-family: MuseoSansCyrl900;
  text-align: center;
}

.main-wrapper .how-to-start__cards {
  margin: 55px 0px 140px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}

.main-wrapper .how-to-start__cards .card-1 {
  background-color: #86a7e3;
}

.main-wrapper .how-to-start__cards .card-2 {
  background-color: #6fc3c0;
}

.main-wrapper .how-to-start__cards .card-3 {
  background-color: #e9a2b4;
}

.main-wrapper .how-to-start__cards .card-4 {
  background-color: #c1a5e1;
}

.main-wrapper .how-to-start__item {
  border-radius: 15px;
  padding: 10px;
}

.main-wrapper .how-to-start__item img {
  margin: 60px auto 40px auto;
}

.main-wrapper .how-to-start__item h2 {
  color: white;
  font-size: 27px;
  font-family: MuseoSansCyrl700;
  text-align: center;
}

.main-wrapper .how-to-start__item p {
  margin-top: 25px;
  color: white;
  font-size: 15px;
  font-family: MuseoSansCyrl500;
  text-align: center;
  line-height: normal;
  padding: 0px 25px 60px 25px;
}

.main-wrapper .how-to-start__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-wrapper .why-us {
  width: 100%;
  margin-bottom: 160px;
}

.main-wrapper .why-us h1 {
  font-size: 27px;
  font-family: MuseoSansCyrl700;
  color: #425a85;
  text-align: center;
}

.main-wrapper .why-us h2 {
  font-size: 27px;
  font-family: MuseoSansCyrl700;
  color: #f2a1b6;
  text-align: center;
  margin-bottom: 70px;
  -webkit-animation: down 1s linear infinite;
          animation: down 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-wrapper .why-us__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
}

.main-wrapper .why-us__wrapper img {
  margin: auto;
}

.main-wrapper .why-us__wrapper p {
  text-align: center;
  margin-top: 30px;
  font-family: MuseoSansCyrl500;
  font-size: 19px;
  color: #425a85;
}

.main-wrapper .reviews {
  position: relative;
  width: 100%;
  margin-bottom: 85px;
}

.main-wrapper .reviews .wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 68%;
      grid-template-columns: 32% 68%;
  gap: 15px;
}

.main-wrapper .reviews .arrows {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  color: #f18ba5;
  font-size: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 80%;
  left: 70%;
}

.main-wrapper .reviews__title {
  margin-left: 45px;
}

.main-wrapper .reviews__title h1 {
  margin: 10px 0x 0px 0px;
  color: #425a85;
  font-size: 43px;
  font-family: MuseoSansCyrl700;
}

.main-wrapper .reviews__title img {
  -webkit-animation: bigger 2s linear infinite;
          animation: bigger 2s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-wrapper .reviews__slider {
  background-color: white;
  border-radius: 20px;
  padding: 60px 80px 25px 15px;
}

.main-wrapper .reviews__slider .reviews__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37.66% 62.34%;
      grid-template-columns: 37.66% 62.34%;
}

.main-wrapper .reviews__slider .reviews__item .reviews__author .reviews__photo {
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  overflow: hidden;
  margin-bottom: 20px;
}

.main-wrapper .reviews__slider .reviews__item .reviews__author .reviews__photo img {
  height: 100%;
}

.main-wrapper .reviews__slider .reviews__item .reviews__author .reviews__name {
  color: #425a85;
  font-size: 17px;
  font-family: MuseoSansCyrl700;
  text-align: center;
  margin-bottom: 10px;
}

.main-wrapper .reviews__slider .reviews__item .reviews__author .reviews__city {
  color: #97afda;
  font-size: 15px;
  font-family: MuseoSansCyrl500;
  text-align: center;
  margin-bottom: 50px;
}

.main-wrapper .reviews__slider .reviews__item .reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #425a85;
  font-size: 17px;
  font-family: MuseoSansCyrl500;
  text-align: center;
}

.main-wrapper .about-production {
  width: 57%;
  margin: auto;
  background-image: url("../img/about-production__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: #425a85;
}

.main-wrapper .about-production h1 {
  margin-top: 105px;
  font-family: MuseoSansCyrl700;
  font-size: 37px;
}

.main-wrapper .about-production h2 {
  font-family: MuseoSansCyrl700;
  font-size: 37px;
}

.main-wrapper .about-production p {
  margin: 35px 0px 120px 0px;
  font-family: MuseoSansCyrl300;
  font-size: 17px;
}

.main-wrapper .last-articles {
  width: 100%;
}

.main-wrapper .last-articles h1 {
  color: #425a85;
  text-align: center;
  font-family: MuseoSansCyrl700;
  font-size: 33px;
  margin-bottom: 30px;
}

.main-wrapper .last-articles .article-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.main-wrapper .last-articles .article-wrapper p {
  margin-top: 25px;
  color: #425a85;
  text-align: center;
  font-family: MuseoSansCyrl500;
  font-size: 17px;
}

.main-wrapper .last-articles .article-wrapper .article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-wrapper .last-articles__more {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.main-wrapper .last-articles__more a {
  text-decoration: none;
  color: #425a85;
  font-family: MuseoSansCyrl500;
  font-size: 17px;
}

.main-wrapper .last-articles__more a span {
  color: #f18ba5;
}
/*# sourceMappingURL=style.css.map */